#content .nav-link:hover {
    background-color: var(--bs-dark);
}

#content li {
    list-style-type: none;

    /* Remove bullets */
    padding: 0;

    /* Remove padding */
    margin: 0;

    /* Remove margins */
}

#content ul {
    margin: 0;
    padding: 0;
}

.header-image {
    max-width: 100%;
    height: auto;
    width: 100%;
}

h1,
h2,
h3 {
    padding-bottom: 0.5em;
    font-weight: lighter;
}

h4 {
    font-size: 1.15em;
}

.btn-primary a {
    color: white;
}

.rentcard {
    position: relative;
}

.rentcard a {
    color: white;
}

.rentcard a:hover {
    color: #92B927;
    transition: 0.3s;
}

.rentcard a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 99999;
}

.rentcard img {
    border-color: transparent;
}

.rentcard:hover img {
    outline: 3px solid #92B927;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

header {
    z-index: 1;
    position: relative;
}

#logo {
    margin-left: -2px;
}

#logo_al4 {
    padding-right: 6px;
}

.navbar-nav img {
    height: 50px;
    width: auto;
}

#mainnav .navbar-toggler {
    position: absolute;
    right: 5%;
    top: 13px;
}

#mainnav .nav-link:hover {
    color: #92B927 !important;
}

.header-image {
    position: relative;
    margin-top: -58px;
}

.carousel-item p {
    padding: 5px 20px;
    bottom: -18px;
    position: absolute;
    width: 100%;
    height: 40px;
}

footer {
    background-color: lightslategray;
}

form .hpt {
    display: none;
}

/* Youtube Videos */
.youtube-video-container,
.youtube-video-container_4-3 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56%;
}

.youtube-video-container_4-3::after {
    display: block;
    content: "";
    padding-top: 77%;
}

.youtube-video-container iframe,
.youtube-video-container_4-3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@viewport {
    width: device-width;
    zoom: 1;
}

@media screen and (max-width: 992px), (max-device-width: 992px) {
    .dropdown-menu {
        display: block;
    }

    .dropdown-menu-dark {
        background: none;
        border: none;
    }

    .header-image {
        position: relative;
        margin-top: 0;
    }
}

